.theme-overview {
	margin: 0 !important;

	.sidebar {
		padding: 20px 0.75rem;
	}

	.content {
		border-left: 1px solid color("blue-grey", "lighten-3");
	}

	.select-wrapper {
		margin-top: 0;
	}

	form > p > span.thumb > span.value {
		color: #333 !important;
	}

	.input-field label {
		left: 0 !important;
	}

	.input-field {
		margin-top: 1.75rem;
	}
}

footer {
	margin-top: 0 !important;
}