<nav role="navigation">
	<div class="nav-wrapper container">
		{{#link-to 'index' class="brand-logo"}}Find Me An Adventure{{/link-to}}
		{{!-- <ul class="right">
			<li><a href="#">Navbar Link</a></li>
		</ul>

		<ul id="nav-mobile" class="side-nav">
			<li><a href="#">Navbar Link</a></li>
		</ul>
		<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a> --}}
		<div class="hackdfwLogo"><img src="assets/images/hackdfw.png" /></div>
	</div>
</nav>

{{!-- content --}}
<main>
	{{outlet}}
</main>

{{!-- footer --}}
<footer class="page-footer">
	<div class="container">
		<div class="row">
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
		Copyright 2015: MEEP!
		</div>
	</div>
</footer>
