<div class="section no-pad-bot jumbotron">
	<div class="container">
		<h1 class="header center">Find A Fucking Vacation™</h1>
		<div class="row center">
			<h5 class="header col s12 light">Select a theme to get started, or leave it up to the patented randomiser!</h5>
		</div>

		<div class="row center">
			<a href="#" class="dropdown-button btn btn-large waves-effect" data-activates='themesList'><i class="mdi-social-location-city left"></i> Select A Theme…</a>
			<a href="#" class="btn btn-large waves-effect waves-light"><i class="mdi-action-autorenew left"></i> Random!!1!1!!!</a>

			<!-- Dropdown Structure -->
			<ul id='themesList' class='dropdown-content'>
				{{#each theme in content}}
					<li>
						{{#link-to 'theme' theme.id}}
							{{theme.title}}
						{{/link-to}}
					</li>
				{{/each}}
			</ul>

		</div>
	</div>
</div>

{{!-- content --}}
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="mdi-image-flash-on"></i></h2>
					<h5 class="center">A Feature</h5>

					<p class="light">This is a description for a certain feature. It does stuff !!!!</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="mdi-social-group"></i></h2>
					<h5 class="center">More stuff.</h5>

					<p class="light">Watermelons are tasty, and you should try them with deep-fried ice cream.</p>
				</div>
			</div>

			<div class="col s12 m4">
				<div class="icon-block">
					<h2 class="center light-blue-text"><i class="mdi-action-settings"></i></h2>
					<h5 class="center">Yet another feature.</h5>

					<p class="light">With this feature, we can do some pretty great stuff.</p>
				</div>
			</div>
		</div>
	</div>
</div>