<div class="container jumbotron">
	<div class="section">
		<h1 class="header center">Find Me An Adventure™</h1>
		<div class="row center">
			<h5 class="header col s12 light">Select a theme to get started, or leave it up to the Randömisér®!</h5>
		</div>

		<div class="row center">
			<a href="#" class="dropdown-button btn btn-large waves-effect" data-activates='themesList'><i class="mdi-social-location-city left"></i> Select A Theme…</a>
			<a href="#" class="btn btn-large waves-effect waves-light" {{action "random"}}><i class="mdi-action-autorenew left"></i> Random!!1!1!!!</a>

			<!-- Dropdown Structure -->
			<ul id='themesList' class='dropdown-content'>
				{{#each theme in content}}
					<li>
						{{#link-to 'theme' theme.id}}
							{{theme.title}}
						{{/link-to}}
					</li>
				{{/each}}
			</ul>

		</div>
	</div>
</div>
