<div class="row theme-overview">
	<form class="col s12 m3 sidebar">
		<label>Sort By…</label>
		{{view "select"
			contentBinding="this.sortByKeys"
			selectionBinding="this.sortBy"
			optionLabelPath="content.title"
			optionValuePath="content.id"
			prompt="Select Sort Order"}}
	</form>

	<div class="col s12 m9 content">
		<h3>{{title}}</h3>
	</div>
</div>