<div class="row theme-overview">
	<form class="col s12 m3 sidebar">
		<label>Sort By…</label>
		{{view "select"
			contentBinding="this.sortByKeys"
			selectionBinding="this.sortBy"}}

		<div class="input-field">
			{{input type="number" id="length" min="2" max="16" value=this.lengthOfStay}}
			<label for="length">Length of Stay</label>
		</div>

		<label>Maximum Price (USD)</label>
		<p class="range-field">
			{{input type="range" min="300" max="1500" value=this.maxPrice}}
		</p>
	</form>

	<div class="col s12 m9 content">
		<h3>{{this.title}}</h3>
	</div>
</div>