<div class="row theme-overview">
	<div class="col s12 m3 sidebar">
		<form>
			<label>Sort By…</label>
			<p>
				<input name="sortBy" type="radio" id="sortByPopularity" />
				<label for="sortByPopularity">Popularity</label>
			</p>
			<p>
				<input name="sortBy" type="radio" id="sortByCost" />
				<label for="sortByCost">Cost</label>
			</p>
		</form>
	</div>

	<div class="col s12 m9 content">
		<h3>{{title}}</h3>
	</div>
</div>